@import "tailwindcss";
@tailwind utilities;

@font-face {
    font-family: 'Public Sans';
    src: url('/public/fonts/Public_Sans/PublicSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('/public/fonts/Public_Sans/PublicSans-Italic-VariableFont_wght.ttf') format(truetype);
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

:root {
    --background-color: #F6F4F4;
    --nav-bar-color: #3B3C36;
    --nav-text-color: #B2B59C;
    --side-border-color: #72090F;

    --color-green:         #277C78;
    --color-yellow:        #F2CDAC;
    --color-cyan:          #82C9D7;
    --color-navy:          #626070;
    --color-red:           #C94736;
    --color-purple:        #826CB0;
    --color-turquoise:     #597C7C;
    --color-brown:         #93674F;
    --color-magenta:       #934F6F;
    --color-blue:          #3F82B2;
    --color-navy-grey:     #97A0AC;
    --color-army-green:    #7F9161;
    --color-gold:          #CAB361;
    --color-orange:        #BE6C49;
    --white: #FFFFFF;

    --main-text-color:      #201F24;
    --secondary-text-color: #696868;
    --color-grey-300:      #B3B3B3;
    --color-grey-100:      #F2F2F2;

    --font-family: 'Public Sans';
    --title-font: 32px;
    --second-font: 20px;
    --third-font: 16px;
    --fourth-button-font: 14px;
    --fifth-font: 12px;
}

body {
  background: var(--backround-color);
  font-family: var(--font-family), sans-serif;
}
